body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container {

    background-color: rgba(255, 0, 0, 0.897);
    color: #eee;
    width: 80%;
    box-sizing: border-box;
    
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin: auto;
    
    padding: 20px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
    border: 10px solid rgba(255, 255, 0, 0.718);

}

.main-aside h2{

    text-align: center;
}

.main-aside h2:hover {
    
    color: goldenrod;
    cursor: pointer;
}



.main-aside ul {

    
    text-align: center;
    padding: 0;
}

.main-aside ul a {
    
    list-style: square;
    text-decoration: square;
    color: black;
}

.main-aside ul a:hover {

    color: red;
}

.main-aside ul ol:hover {

    color:blue

}


/* Barra de Navegação */
#main-nevbar {

    background:gray;
    color: #eee;
    padding: 5px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
    position: sticky;
    top: 0;

}

/* fixed button */
.fixed-button {

    background: #db0a0ada;
    color: #eee;
    border-radius: 50px;
    width: 50px;
    height: 50px;

}